@font-face {
    font-family: 'Avenir';
    src: url("/src/assets/avenir_ff/AvenirLTStd-Black.otf")
  }
  *{
    font-family: 'Avenir';
  }

.p-5 .px-5 h3 {
  color: #BD0707
}

#merah {
  color: #BD0707
}

.text-red {
  color: #BD0707
}